.End
  position fixed
  top 0
  left 0
  width 100%
  height 31%
  display none
  align-items center
  text-align center
  justify-content center
  z-index 1000
  opacity 0

  &-content
    font-family 'Nickainley'
    font-size 3em
    color #aee0ff
