.Intro
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  display none
  align-items center
  justify-content center
  background white
  z-index 900
  color purple

  &-line
    opacity 0
    filter blur(15px)
